# Database Configuration (Matching your docker-compose.yml)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pjdb
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/pjdb?schema=public"

# JWT Secrets (Securely Generated)
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_PASS=

CLIENT_URL=
